﻿@model ParkyWeb.Models.NationalPark
@{
    var title = "National Park";
}
<div class="container">
    <h2>@Model.Name</h2>
    <h3>@Model.Established.ToShortDateString()</h3>
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>
