﻿@model ParkyWeb.Models.ViewModel.IndexVM
<style>
    .hover-img {
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
        transition: all 0.3s ease-out;
        position: relative;
        z-index: 2;
        border-radius:20px;
    }
    .hover-img:hover {
        transform: scale(1.1, 1.1);
        z-index: 9;
    }
</style>
<div class="container">
    <div class="row pb-4 backgroundWhite">

        @foreach (var nationalPark in Model.NationalParkList)
        {
            <div class="container backgroundWhite pb-4">
                <div class="card border" style="box-sizing:border-box">
                    <div class="card-header bg-dark text-light ml-0 container" style="display: flex">
                        <div class="col-12 col-md-6">
                             <a class="text-decoration-none text-warning" href="/NationalParks/Detail/@nationalPark.Id"><h1>@nationalPark.Name</h1></a>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <h1 class="text-warning">State : @nationalPark.State</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3 style="color:#bbb9b9">Established: @nationalPark.Established.Year</h3>
                                        </div>
                                        <div class="col-12">
                                            @if (Model.TrailList.Where(u => u.NationalParkId == nationalPark.Id).Count() > 0)
                                            {
                                                <table class="table table-striped" style="border:1px solid #808080 ">
                                                    <tr class="table-secondary">
                                                        <th>
                                                            Trail
                                                        </th>
                                                        <th>Distance</th>
                                                        <th>Elevation Gain</th>
                                                        <th>Difficulty</th>
                                                    </tr>
                                                    @foreach (var trails in Model.TrailList.Where(u => u.NationalParkId == nationalPark.Id))
                                                    {
                                                <tr>
                                                    <td>@trails.Name</td>
                                                    <td>@trails.Distance miles</td>
                                                    <td>@trails.Elevation ft</td>
                                                    <td>@trails.Difficulty</td>
                                                </tr>
                                                    }
                                                </table>
                                            }
                                            else
                                            {
                                                <p>No trail exists...</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 text-center">
                                    @{
                                        var base64 = Convert.ToBase64String(nationalPark.Picture);
                                        var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
                                    }
                                    <img class"" src="@finalStr" class="card-img-top p-2 hover-img"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>