﻿@model ParkyWeb.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<link rel="icon" type="image/png" href="~/images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="~/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form method="post" class="login100-form validate-form p-l-55 p-r-55 p-t-100">
                <span class="login100-form-title">
                    Sign In
                </span>

                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                    <input asp-for="Username" class="input100" type="text" placeholder="Username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                    <input asp-for="Password" class="input100" type="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="text-right p-t-13 p-b-23">
                    <a asp-action="Index" asp-controller="Home" class="txt2">
                       Back to Home
                    </a>
                </div>
                
                <div class="container-login100-form-btn" style="margin-bottom:50px">
                    <button class="login100-form-btn" type="submit" value="Submit">
                        Sign in
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="~/vendor/select2/select2.min.js"></script>
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<script src="~/js/main.js"></script>

@*<form method="post">
        <input asp-for="Username" type="text" placeholder="Username..." />
        <input asp-for="Password" type="text" placeholder="Password..." />
        <button type="submit" value="Submit">Login</button>
    </form>*@

